html {
	font-family: Segoe UI Light, Sans-Serif;
	background-color: whitesmoke;
}

#container {
	width: 800px;
	min-height: 800px;
	margin: auto;
	padding: 10px;
	box-shadow: 0px 0px 30px darkgray;
	background-color: white;
}

#header {
	width: 800px;
	height: 75px;
	position: relative;
	left: -10px;
	top: -10px;
	border-bottom: 1px solid lightgray;
	padding: 10px;
	line-height: 32px;

	background-image: url("http://fc05.deviantart.net/fs71/i/2010/084/5/6/HL2_Lambda_by_PixelxMaster.png");
	background-size: 350px;
	background-repeat: no-repeat;
	background-position: 545px -55px;
}

.infobox-q {
	float: left;
	margin-right: 10px;
}